<?xml version="1.0" encoding="UTF-8"?>

<!-- spring dtd 설정 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!-- Spring 역할 : 제어의 역행 (쇼핑몰)-->
<!-- bean: 객체 -->
<beans>
	<!--  MsgBeanEN msgbeanEn = new MsgBeanEN() -->
	<bean id="msgbeanEn" class="ex2.MsgBeanEN"/>
	
	<bean id="msgbeanKr" class="ex2.MsgBeanKR"/>
</beans>




